@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --radius: 12px;
  }

  .dark {
    --background: 220 13% 9%;
    --foreground: 210 20% 98%;

    --card: 220 13% 11%;
    --card-foreground: 210 20% 98%;

    --muted: 220 10% 16%;
    --muted-foreground: 215 15% 70%;

    --border: 220 10% 22%;
    --input: 220 10% 22%;
    --ring: 210 18% 78%;

    --primary: 210 20% 96%;
    --primary-foreground: 220 13% 12%;

    --secondary: 220 10% 16%;
    --secondary-foreground: 210 20% 98%;

    --accent: 220 10% 16%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
  }

  * {
    border-color: hsl(var(--border));
  }

  html,
  body {
    height: 100%;
  }

  html {
    scrollbar-gutter: stable;
    overflow-y: scroll;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  body[data-scroll-locked],
  body.with-scroll-bars-hidden {
    padding-right: 0 !important;
  }

  body[data-scroll-locked].width-before-scroll-bar,
  body[data-scroll-locked] .width-before-scroll-bar {
    margin-right: 0 !important;
  }

  body[data-scroll-locked].right-scroll-bar-position,
  body[data-scroll-locked] .right-scroll-bar-position {
    right: 0 !important;
  }
}
